.App {
  text-align: center;
}
.App-logoelo {
  width: 14%;
  height: 96px;
  margin-top: 16px;
}

@media only screen and (max-width: 600px) {
  .App-logoelo {
    width: 40%;
    height: 72px;
    margin-top: 0px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-profile {
  width: 200px;
}
@media only screen and (max-width: 600px) {
  .App-profile {
    width: 176px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
